# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with 
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Environment variables file
.env

# IDE and Editor directories and files
.vscode/
.idea/
*.swp
